Export DB to Report API.json
{
  "name": "Export DB to Report API",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9685db3b-eca6-4fce-89b3-938f78a7533a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3af575ab-98ca-49e0-a925-dfcb6a317aae",
              "name": "baseUrl",
              "value": "http://212.237.219.35:8080",
              "type": "string"
            },
            {
              "id": "5404a352-2ed1-48b6-aa6e-42df2e654a83",
              "name": "studentId",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2149de59-0401-4cee-b2ba-5349c45d5b5a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH last_ver AS (\n  SELECT DISTINCT ON (spare_code)\n         spare_code, spare_name, spare_description, spare_type, spare_status,\n         price_raw, quantity, source_updated_at_raw\n  FROM spares_history\n  -- ВАЖНО: убираем фильтр is_current = TRUE\n  ORDER BY spare_code, valid_from DESC\n)\nSELECT\n  spare_code            AS \"spareCode\",\n  spare_name            AS \"spareName\",\n  spare_description     AS \"spareDescription\",\n  spare_type            AS \"spareType\",\n  spare_status          AS \"spareStatus\",\n  price_raw             AS \"price\",\n  quantity,\n  source_updated_at_raw AS \"updatedAt\"\nFROM last_ver\nORDER BY spare_code;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "107865c9-f277-4801-87b6-90abfe109b7f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "FE9u6NtacwtL6L3Y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.237.219.35:8080/students/1/report/csv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/csv"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        0
      ],
      "id": "7b9280e7-3ac6-47b0-8967-16a766a92573",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst header = [\"spareCode\", \"spareName\", \"spareDescription\", \"spareType\", \"spareStatus\", \"price\", \"quantity\", \"updatedAt\"];\n\nconst csvRows = items.map(row => {\n  return header.map(fieldName => {\n     let val = String(row[fieldName] || '');\n     \n\n     return val.replace(/;/g, ',').replace(/\\n/g, ' ');\n  }).join(';'); \n});\n\nconst csvString = csvRows.join('\\n');\n\nreturn [\n  {\n    json: {\n      info: \"CSV generated successfully\" \n    },\n    binary: {\n      data: {\n        data: Buffer.from(csvString, 'utf8').toString('base64'),\n        mimeType: 'text/csv',\n        fileName: 'report.csv'\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "bef43350-0566-47aa-bbcb-8233d4dc3aff",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49582ca6-e343-4448-b605-25743dcbba8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f2ea20e6d6620f6e49a117cc382f65a26b3e7e49477dfbefbef94b6e21d12ee"
  },
  "id": "Kad71rwZ1Fioes50",
  "tags": []
}